<a href="https://colab.research.google.com/github/Shubhamdiwakarkadam/web-scrapping-project/blob/main/ipl_Auction_data_scrapping_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# Importing necessary libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Defining the URL to scrape
url = "https://www.iplt20.com/auction"

# Sending a GET request to the URL
r = requests.get(url)
#print(r)

# Creating a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(r.text, "lxml")
#print(soup)

# Finding the table containing the auction data
table = soup.find("table", class_="ih-td-tab auction-tbl")
# Finding all the table headers (column names)
title = table.find_all("th")
print(title)

# Storing the column names in a list called 'header'
header = []
for i in title:
    name = i.text
    header.append(name)
#print(header)

# Creating an empty DataFrame with column names
df = pd.DataFrame(columns=header)
#print(df)

# Finding all the rows in the table
rows = table.find_all("tr")
#print(row )

# Iterating through each row, extracting data, and adding it to the DataFrame
for i in rows[1:]:
    # Extracting the first column data which is stored in a div with class "ih-pt-ic"
    first_td = i.find_all("td")[0].find("div", class_="ih-pt-ic").text.strip()
    # Extracting data from the rest of the columns
    data = i.find_all("td")[1:]
    # Creating a list 'row' containing data for each row
    row = [tr.text for tr in data]
    # Inserting the first column data at the beginning of the row
    row.insert(0, first_td)
    # Getting the current length of the DataFrame and adding the row
    l = len(df)
    df.loc[l] = row
print(df)

# Saving the DataFrame to a CSV file
df.to_csv("ipl auction stats new.csv")

[<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]
                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,00,00,000                 8            25
1               Delhi Capitals    ₹9,90,00,000                 8            25
2               Gujarat Titans    ₹7,85,00,000                 8            25
3        Kolkata Knight Riders    ₹1,35,00,000                 8            23
4         Lucknow Super Giants      ₹95,00,000                 8            25
5               Mumbai Indians    ₹1,05,00,000                 8            25
6                 Punjab Kings    ₹4,15,00,000                 8            25
7             Rajasthan Royals      ₹20,00,000                 8            22
8  Royal Challengers Bangalore    ₹2,85,00,000                 8            25
9          Sunrisers Hyderabad    ₹3,20,00,000                 8            25